div {
  width: 200px;
  height: 200px;
  background-color: rebeccapurple;
}
div span {
  color: red;
}
.divClass {
  width: 200px;
  height: 200px;
  background-color: aqua;
}
.divClass .spanClass {
  color: burlywood;
}
.divClass p {
  color: red;
}
.divClass::before {
  content: "我是伪类";
}
