/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

/* 左浮动 */
.fl {
    float: left;
}

/* 右浮动 */
.fr {
    float: right;
}

/* 字体红色 */
.style_rd {
    color: #c81623;
}

/* 快捷导航栏 */
.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1f1;
}

/* 快捷导航栏右侧 */
.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 15px;
    margin: 9px 15px 0px;
    background-color: #666;
}