@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?tomleg') format('truetype'),
        url('../fonts/icomoon.woff?tomleg') format('woff'),
        url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

/* 左浮动 */
.fl {
    float: left;
}

/* 右浮动 */
.fr {
    float: right;
}

/* 字体红色 */
.style_rd {
    color: #c81623;
}

/* 快捷导航栏 */
.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1f1;
}

/* 快捷导航栏右侧 */
.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 15px;
    margin: 9px 15px 0px;
    background-color: #666;
}

/* 箭头 */
.arrows-icons::after {
    content: "\e91e";
    font-family: "icomoon";
    margin: 0px 0px 0px 6px;
}

/* 头部 */
.header {
    position: relative;
    height: 105px;
    background-color: pink;
}

/* logo */
.logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
    background-color: red;
}

/* logo SEO */
.logo a {
    display: block;
    width: 171px;
    height: 61px;
    background: url(../images/logo.png) no-repeat;
}