@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?tomleg') format('truetype'),
        url('../fonts/icomoon.woff?tomleg') format('woff'),
        url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

/* 左浮动 */
.fl {
    float: left;
}

/* 右浮动 */
.fr {
    float: right;
}

/* 字体红色 */
.style_rd {
    color: #c81623;
}

/* 快捷导航栏 */
.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1f1;
}

/* 快捷导航栏右侧 */
.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 15px;
    margin: 9px 15px 0px;
    background-color: #666;
}

/* 箭头 */
.arrows-icons::after {
    content: "\e91e";
    font-family: "icomoon";
    margin: 0px 0px 0px 6px;
}

/* 头部 */
.header {
    position: relative;
    height: 105px;
    background-color: pink;
}

/* logo */
.logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
    background-color: skyblue;
}

/* logo SEO */
.logo a {
    display: block;
    width: 171px;
    height: 61px;
    background: url(../images/logo.png) no-repeat;
    /* 淘宝做法 */
    /* text-indent: -99999px;
    overflow: hidden; */
    /* 京东做法 */
    font-size: 0;
}

/* 搜索框 */
.search {
    position: absolute;
    left: 346px;
    top: 25px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.search input {
    float: left;
    width: 454px;
    height: 32px;
}

.search button {
    float: left;
    width: 80px;
    height: 34px;
    margin-top: -2px;
    background-color: #b1191a;
    font-size: 18px;
    color: #fff;
}

/* 热词 */
.hotwords {
    position: absolute;
    left: 346px;
    top: 66px;
    height: 66px;
}

.hotwords ul li {
    margin: 0 10px;
}

/* 购物车 */
.shopcar {
    position: absolute;
    right: 60px;
    top: 25px;
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
}

/* 购物车左图标 */
.shopcar::before {
    content: "\e93a";
    font-family: "icomoon";
    color: #b1191a;
    margin: 0px 5px 0px 0px;
}

/* 购物车右图标 */
.shopcar::after {
    content: "\e920";
    font-family: "icomoon";
    margin: 0px 0px 0px 10px;
}

/* 数目 */
.count {
    position: absolute;
    top: -5;
    left: 95px;
    padding: 0 5px;
    height: 15px;
    line-height: 15px;
    background-color: #e60012;
    border-radius: 7px 7px 7px 0;
    color: #fff;
}

/* nav 导航 */
.nav {
    height: 47px;
    border-bottom: 2px solid #b1191a;
}

.nav .dropdown {
    float: left;
    width: 210px;
    height: 46px;
    background-color: #b1191a;
}