.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 84px;
    border-bottom: 2px solid #c81523;
}

.logo {
    padding-top: 18px;
}

.registerarea {
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.registerarea h3 {
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
}

.login {
    float: right;
    font-size: 14px;
}

.login a {
    color: #c81523;
}

.reg_form {
    width: 600px;
    margin: 50px auto 0px;
}

.reg_form ul li {
    margin-top: 20px;
}

.reg_form ul li label {
    width: 88px;
    display: inline-block;
    text-align: right;
}

.reg_form ul li input[type=text] {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}

.error {
    color: #c81523;
}

.eror_icon,
.success_icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../images/error.png) no-repeat;
    vertical-align: middle;
    margin-top: -2px;
}

.success {
    color: green;
}

.success_icon {
    background: url(../images/success.png) no-repeat;
}

.safe {
    margin-left: 170px;
}

.safe em {
    padding: 0 12px;
    color: white;
}

.safe em:first-child {
    background-color: #f79100;
}

.safe em:nth-child(2) {
    background-color: #40b83f;
}

.safe em:nth-child(3) {
    background-color: #de1111;
}

.agree input {
    vertical-align: middle;
    margin-top: -1px;
    margin-left: 100px;
}

.agree a {
    color: #1ba1e6;
}

.btn input {
    width: 200px;
    height: 34px;
    background-color: #c81523;
    font-size: 14px;
    color: white;
    margin: 30px 0 0 70px;
}

/* 底部 */
.footer .mod_copyright {
    padding-top: 20px;
    text-align: center;
}

.footer .mod_copyright .links {
    margin-bottom: 15px;
}

.footer .mod_copyright .links a {
    margin: 0 10px;
}

.footer .mod_copyright .copyright {
    line-height: 20px;
}